@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans|Merriweather");
body {
  margin: 0;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Alegreya Sans", sans-serif;
  color: rgba(0, 0, 0, 0.78);
  background-color: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

.spoiler-warning {
  color: #d93025;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.page-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
  background-color: #fa0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

header h1 {
  margin: 0;
  font-size: 1.75rem;
  padding: 0 8px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 8px 0;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.78);
  height: 32px;
  display: block;
  line-height: 32px;
  padding: 0 8px;
}

header li.active {
  background-color: rgba(0, 0, 0, 0.12);
}

main {
  grid-area: main;
  box-sizing: border-box;
  padding: 8px 0;
  min-height: calc(100vh - 156px - 180px);
  background: linear-gradient(to bottom, #fefefe, #fefefe 95%, #eee 100%);
}

main.index-content {
  padding: 0;
}

main.index-content :not(:first-child) {
  padding: 0 8px;
}

main .home-banner {
  width: 100%;
  max-width: 850px;
  margin: auto;
  display: block;
}

main p {
  max-width: 560px;
  margin: 8px auto;
}

footer {
  grid-area: footer;
  background-color: #eee;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

footer a {
  color: #fa0;
}

@media only screen and (min-width: 600px) {
  main {
    min-height: calc(100vh - 156px - 123px);
  }
  footer {
    flex-direction: row;
  }
}

.cast-content {
  padding: 8px 8px 16px;
}

.cast-content .cast-item {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "image image" "charname charname" "actorname actorname" "description description";
  justify-items: center;
  grid-gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  max-width: 592px;
  margin: auto;
  border-radius: 2px;
}

.cast-content .cast-item img {
  grid-area: image;
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.cast-content .cast-item h3 {
  grid-area: charname;
  margin: 0;
}

.cast-content .cast-item p {
  grid-area: description;
}

.cast-content .cast-item .actor-name {
  grid-area: actorname;
  color: rgba(0, 0, 0, 0.54);
}

.cast-content .cast-item + .cast-item {
  margin-top: 16px;
}

.merch-content {
  padding: 8px;
}

.merch-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 16px;
  margin: auto;
}

.merch-container .merch-item {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  min-width: 300px;
  height: 300px;
  margin: auto;
  cursor: pointer;
}

.merch-container .merch-item:hover .merch-item__price {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: rotate(10deg) scale(1.1);
}

.merch-container .merch-item__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  color: #fff;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.54);
  font-family: "Alegreya Sans", sans-serif;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.merch-container .merch-item__img {
  order: 1;
  background: #000;
  max-width: 300px;
  max-height: 300px;
  border-radius: 2px;
}

.merch-container .merch-item__price {
  position: absolute;
  right: 16px;
  top: 16px;
  display: block;
  border-radius: 50%;
  background: #fa0;
  width: 52px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  transform: rotate(20deg);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  will-change: transform, box-shadow;
  transition: all 250ms ease;
}

.merch-container .merch-item__price::before {
  content: '€';
}

.merch-container .merch-item__description {
  order: 3;
}

.order-content {
  padding: 8px;
}

.order-content > * {
  margin: auto;
  max-width: 560px;
}

.order-content form {
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 16px;
  margin-top: 16px;
}

.order-content label {
  margin-bottom: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 32px;
}

.order-content input, .order-content select {
  height: 32px;
  line-height: 28px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  min-width: 200px;
  padding: 2px;
  box-sizing: border-box;
}

.order-content input[type="submit"] {
  background-color: #fa0;
  text-transform: uppercase;
}

@media only screen and (min-width: 648px) {
  .merch-container {
    grid-template-columns: 1fr 1fr;
  }
  .merch-container h2 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media only screen and (min-width: 948px) {
  .merch-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 932px;
  }
  .merch-container h2 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media only screen and (min-width: 850px) {
  header {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  header nav {
    padding: 0 32px;
  }
  header nav ul {
    padding: 0;
  }
  header nav li {
    display: inline-block;
  }
  header nav li::after {
    content: "";
    display: block;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.78);
    width: 100%;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 250ms ease;
  }
  header nav li.active::after, header nav li:hover::after {
    transform: scaleX(1);
  }
  header a {
    height: 44px;
    line-height: 46px;
    min-width: 66px;
    text-align: center;
  }
  main {
    min-height: calc(100vh - 46px - 123px);
  }
  main .home-banner {
    margin: 16px auto;
  }
  .cast-content .cast-item {
    grid-template-areas: "image description" "charname description" "actorname description" ". description";
    max-width: 792px;
  }
  .cast-content .cast-item img {
    width: 200px;
    height: 200px;
  }
  .order-content input, .order-content select {
    min-width: 350px;
  }
}

/*# sourceMappingURL=style.css.map */